.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  margin-bottom: 15px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__icons span:nth-of-type(2),
.screen-header__icons span:nth-of-type(3) {
  position: relative;
}

@keyframes scaleDot {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.screen-header__icons-dot {
  background-color: tomato;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 22px;
  bottom: 22px;
  animation: scaleDot 1s ease-in-out infinite;
}

@keyframes scaleSearch {
  0% {
    transform: none;
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.screen-header__icons .fa-search:hover {
  animation: scaleSearch 1s ease-in-out infinite;
}

@keyframes rotateComment {
  from {
    transform: none;
  }
  to {
    transform: rotateY(360deg);
  }
}

.screen-header__icons .fa-comment-dots:hover {
  animation: rotateComment 1s ease-in-out infinite;
}

@keyframes shakeMusic {
  0% {
    transform: none;
  }
  25% {
    transform: rotateZ(-30deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(30deg);
  }
  100% {
    transform: rotateZ(0deg);
  }
}

.screen-header__icons .fa-music:hover {
  animation: shakeMusic 1s linear infinite;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 1s linear infinite;
}
